@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Sansita+Swashed:wght@300&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #03045E;
    --secondary-color: #0077B6;
    --accent1-color: #999999;
.scheme {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .scheme th {
    background-color: white;
  }
  .scheme td{
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }