@media only screen and (min-width: 46em) {
    
    nav {
        background: var(--primary-color);
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 );
        
    }
        
    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
    }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
    }

    br.responsive {
        display: none;
    }

    header img {
        width: 100%;
    }

    .forecast {
        margin: 1px auto;
        position: relative;
        width: 670px;
        height: 320px;
        background-color: lightgray;
        padding-top: 10px;
  }
  
  .forecast h3{
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgrey;
  }
  
  #three-day-forecast{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
      }
  
   #three-day-forecast p {
     color: var(--primary-color);
   }
  
   #three-day-forecast li {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
    margin: 1rem;
    padding: 20px;
    padding-bottom: 10px;
    }
    
}