@media only screen and (min-width: 46em) {
    
    nav {
        background: var(--primary-color);
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 );
        
    }
        
    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
    }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
    }

    br.responsive {
        display: none;
    }

    header img {
        width: 100%;
    }

    .forecast {
        margin: 1px auto;
        position: relative;
        width: 670px;
        height: 320px;
        background-color: lightgray;
        padding-top: 10px;
  }
  
  .forecast h3{
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgrey;
  }
  
  #three-day-forecast{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
      }
  
   #three-day-forecast p {
     color: var(--primary-color);
   }
  
   #three-day-forecast li {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
    margin: 1rem;
    padding: 20px;
    padding-bottom: 10px;
    }

    /* RESERVATION CSS*/
    .tourshead {
        text-align: center;
        background-color: lightgrey;
        border-radius: 10px;
        padding: 10px;
    }
    
    .cozumelhistory h3 {
        font-size: 25px;
        text-decoration: underline;
    }
    
    .cozumelhistory p {
        font-size: 17px;
        background-color: var(--background-color);
        border-radius: 10px;
    }
    
    .cozumelhistory h4 {
        font-size: 20px;
        text-decoration: underline;
    }
    
    .aboveisland {
        border-radius: 4px;
        border: solid 5px var(--primary-color);
    }
    
    .cozumelhistory {
        text-align: center;
    }
    
    .websites {
        background-color: var(--accent1-color);
        padding-top: 80px;
        border-radius: 10px;
    }
    
    .websites p {
        color: white;
    }
    
    .firsttour h4 {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
    }
    
    .firsttour h4:hover {
        background-color: var(--background-color);
        padding: 10px;
    }
    
    .secondtour h4 {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }
    
    .secondtour h4:hover {
        background-color: var(--background-color);
        padding: 10px;
    }
    
    .thirdtour h4 {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
    }
    
    .thirdtour h4:hover {
        background-color: var(--background-color);
        padding: 10px;
    }
    
}