@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Krona+One&display=swap');
:root {
    --primary-color: #1d3557;
    --secondary-color: #FFFFFF;
    --background-color: #99C1FF;
    --accent1-color: #007236;

    --paragraph-font: 'Josefin Sans', sans-serif;
    --heading-font: 'Krona One', sans-serif;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
    background-color: var(--primary-color);
}

body {
    margin: 0 auto;
    max-width: 80%;
    border-radius: 10px;
}

main {
    padding: 1em;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

li {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}


p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: px;
}

header h1 {
    color:var(--secondary-color);
    font-size: 30px;
    padding-top: 15px;
}

header h2 {
    color: var(--secondary-color);
    font-size: 15px;
}

header, footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1em;
}

footer {
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

footer a:link, footer a:visited {
    color: white;
}

nav {
    font-family: var(--heading-font);
    color: var(--background-color);
    font-size: 20px;
    width: 100%;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    background: var(--background-color);
    padding: 2em;
    border-radius: 10px;
}
nav a:link, nav a:visited {
    color: var(--primary-color);
    text-decoration: none;
}
nav a:hover {
    color: var(--secondary-color);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

nav ul.hide {display: none;}

nav button {
    background-color: white;
    border: none;
    color: var(--accent1-color);
    align-items: center;
  }

  nav ul li a {
    display: block;
    padding: 1%;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
    font-size: 25px;
  }
  nav ul li.active a{
    background-color: var(--accent1-color);
    text-decoration: underline;
    color: white;
    border-radius: 10px;
  }

img.scoots-logo {
    width: 3in;
    border-radius: 15px;
    border: 6px solid var(--background-color);
}

img.banner-image {
    width: 100%;
}

.welcome h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    padding: 30px;
    text-decoration: underline;
    font-size: 20px;
    border-radius: 10px;
  }

button:hover {
    background-color: var(--accent1-color);
}

.reservebutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weathersummary {
    text-align: center;
    padding: .5rem;
    background-color: var(--background-color);
    width: 50%;
    border-style: solid;
    border-color: var(--primary-color);
    border-width: 8px;
    border-radius: 15px;
    margin: 0 auto;
  
}

.weathersummary div {
    align-content: center;
}

.weathersummary h3 {
    text-decoration: underline;
}

.rentaltype {
    align-content: center;
    text-align: center;
}

.rentaltype h2 {
    color: var(--primary-color);
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rentaltype h3 {
    color: var(--accent1-color);
}

.rentaltype p {
    size: 20px;
}

#three-day-forecast {
    display: none;
  }

.resort-image {
    width: 50%;
    margin: 0 auto;
}

.contact {
    align-content: center;
    text-align: center;
}

.contact p {
    size: 15px;
}

.social {
    align-content: center;
    text-align: center;
}

.social h3 {
    padding-right: 20px;
}

div.table {
    background-color: #00507A;;
    padding: 10px;
    display: block;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 10px 5px solid white;
}

.table h2 {
    color: white;
}

/*RENTALS CSS*/

.rental-image {
    width: 100%;
}

/*RESERVATION CSS*/
form fieldset {
    display: flex;
    flex-direction: column;
    margin: 6rem;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: lightgrey;
  }
  
  form legend {
    color: var(--secondary-color);
    margin: 0 1rem;
    padding: 1rem;
    font-size: 18px;
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    border: 3px solid var(--accent1-color);
    border-radius: 10px;
  }
  
  form label.top, form div {
    display: block;
    padding-top: 10px;
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--paragraph-font);
  }
  
  form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px var(--primary-color);
    border-radius: 4px;
    padding: .75rem;
    color: var(--secondary-color);
    width: 100%;
    max-width: 20rem;
    background-color: white;
  
  }
  
  form label.sbs {
     display: block;
     padding: .75rem 0;
     color: var(--primary-color);
     font-family: var(--paragraph-font);
  }
  
  form input.submitBtn {
     border: none;
     background-color: var(--primary-color);
     color: var(--secondary-color);
     border-radius: 1rem;
     padding: .75rem 1.5rem; 
     margin: 0 0 2rem 2%;
     width: 96%;
     max-width: 20rem;
     font-family: var(--paragraph-font);
  }
  
  form label.top input:required {
    border-left: red solid 6px;
  }
  
  form label.top input:required:valid {
     border-left: green solid 6px;
  }

  .reservehead {
      text-align: center;
  }

  /*DEPOSIT CSS*/

  .formresponse {
      text-align: center;
      padding-left: 80px;
      padding-right: 80px;
  }

  .formresponse h1 {
      text-decoration: underline;
      font-size: 35px;
  }

  .formresponse p{
     font-size: 25px;
     color: var(--accent1-color);
  }

  .deposithead {
    font-size: 25px;
    text-align: center;
  }

  /*TOURS CSS*/

.tourshead {
    text-align: center;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.cozumelhistory h3 {
    font-size: 25px;
    text-decoration: underline;
}

.cozumelhistory p {
    font-size: 17px;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
}

.cozumelhistory h4 {
    font-size: 20px;
    text-decoration: underline;
}

.aboveisland {
    border-radius: 4px;
    border: solid 5px var(--primary-color);
}

.cozumelhistory {
    text-align: center;
}

.websites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--accent1-color);
    padding-top: 80px;
    border-radius: 10px;
}

.websites p {
    color: white;
}

.firsttour h4 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.firsttour h4:hover {
    background-color: var(--background-color);
    padding: 10px;
}

.secondtour h4 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.secondtour h4:hover {
    background-color: var(--background-color);
    padding: 10px;
}

.thirdtour h4 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.thirdtour h4:hover {
    background-color: var(--background-color);
    padding: 10px;
}

.websites .firsttour {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 50px;
}

.websites .secondtour {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.websites .thirdtour {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.tours-1 {
    float: left;
    padding-left: 170px;
}

.tours-2 {
    float: right;
    padding-right: 170px;
  }

.tours-3 {
    float: left;
    padding-left: 170px;
  }

.text1 {
    float: right;
    width: 580px;
    text-align: center;
    padding-right: 190px;
    padding-top: 50px;
}

.text2 {
    float: left;
    width: 580px;
    text-align: center;
    padding-left: 160px;
    padding-top: 50px;
}

.text3 {
    float: right;
    width: 580px;
    text-align: center;
    padding-right: 190px;
    padding-top: 30px;
}

/*CONTACT CSS*/

.rentalinfo {
    text-align: center;
}



.contactinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.info {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 120px;
}

.info h2 {
    text-decoration: underline;
    text-align: center;
}

.info p {
    text-align: center;
}

.map-responsive{
    padding-bottom:56.25%;
    position: relative;
    padding-left: 150px;
}
.map-responsive iframe{
    height:auto;
    width:auto;
    position: relative;
}

.reservehead {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding-left: 20px;
    text-decoration: underline;
}

.contactform {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
