@media only screen and  (min-width: 32.5em) {
    main {
        font-size: 20px;
    }

    footer {
        font-size: medium;
    }
    
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}