@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

    :root {
        
        --heading-font: "Kufam";
        --paragraph-font: "Open Sans Condensed";    
    
       
        --base-font-color: #5D81BE;
        --block-font-color: white;
        --one-background-color: #D0EAF2;
        --block-background-color: #83B4A6;
        --last-updated-font-color: #682F37;
    

        --rounded-edges-hidden: 1em;
        --rounded-edges-block: calc(var(--rounded-edges-hidden) - 0.2em);
    }

    html {
        background-color: #D0EAF2;
        font-family: "Kufam";
        color: #5D81BE;
    }

    body {
        max-width: 700px;
        margin: 0 auto;
        background-color: #83B4A6;
        border-radius: var(--rounded-edges-hidden);
    }

    main {
        padding: 1em;
    }

    .studentPic {
        float: right;
        margin: 0.75em;
        box-shadow: 0px 0px 12px var(--one-background-color);
        border-radius: 0.25em;    
    }
    
