@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

html {
    background-color: #1d3557;
}

header {
    font-family: "Kufam";
    text-align: center;
    color: #a8dadc;
    border-radius: .5em;
    background-color: #f1faee;
}

.lessons {
    text-align: left;
}

.studentPortal {
    padding: 2px;
}

.studentPic {
    max-width: 200px;
    float: right;
    border-radius: .5em;
    margin: 2em;
    box-shadow: 0px 0px 8px #1d3557;
}

main {
    text-align: center;
    font-size: 20px;
    font-family: "Open Sans Condensed";
    color: #1d3557;
    background-color:#f1faee;
}

body {
    background-color: #a8dadc;
    max-width: 700px;
    margin: auto;
    border-radius: .5em;
}

footer {
    padding: .5em;
    text-align: center;
    font-size: medium;
    font-family: "Open Sans Condensed";
    color: #1d3557;
    margin-top: 18px;
    background-color: #f1faee;
    border-radius: .5em;
}

.dateModified {
    color: #1d3557;
}