@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

    :root {
        
        --heading-font: "Kufam";
        --paragraph-font: "Open Sans Condensed";    
    
       
        --base-font-color: #5D81BE;
        --block-font-color: white;
        --one-background-color: #D0EAF2;
        --block-background-color: #83B4A6;
        --last-updated-font-color: #682F37;
    

        --rounded-edges-hidden: 1em;
        --rounded-edges-block: calc(var(--rounded-edges-hidden) - 0.2em);
    }

    html {
        background-color: #D0EAF2;
        font-family: "Kufam";
        color: #5D81BE;
    }

    body {
        max-width: 700px;
        margin: 0 auto;
        background-color: #83B4A6;
        border-radius: var(--rounded-edges-hidden);
    }

    main {
        padding: 1em;
    }

    footer {
        text-align: center;
    }

    .block {
        background-color: #5D81BE;
        font-family: "Open Sans Condensed";
        color: #682F37;
    }

    header .block {
        border-radius: var(--rounded-edges-block) var(--rounded-edges-block) 0em 0em;
    }

    footer .block {
        border-radius: 0em 0em var(--rounded-edges-block) var(--rounded-edges-block);
    }

    .student {
        padding: 1px 0em 1px 5em;
    }

    .studentPic {
        float: right;
        margin: 0.75em;
        box-shadow: 0px 0px 12px var(--one-background-color);
        border-radius: 0.25em;    
    }
    
    .title {
        margin-bottom: 0.0em;
    }
    
    .lessons {
        margin-top: 0.5em;
        margin-bottom: em;
        font-weight: 600;
    }
    
    .credit {
        padding: 1px 0em 1px 0.1em;
    }
    
    footer a:link, footer a:visited {
        color: var(--base-font-color);
    }
    
    .lastUpdated {
        color: var(--last-updated-font-color);
        font-size: 0.85em;
    }
    