@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

table {
    font-family: 'Ubuntu', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.tableheader {
    background-color: #7fb9c2;
    font-size: 25px;
}

.tablefooter {
    background-color: #7fb9c2;
    font-size: 12px;
}

.rowone {
    background-color: #628ca6;
    color: white;
}

.novthree {
    background-color: #628ca6;
    color: white;
}

td {
    background-color: #e7f0ed;
}