@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

table {
    font-family: 'Ubuntu', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.tableheader {
    background-color: #7fb9c2;
}

.tablefooter {
    background-color: #7fb9c2;
}