@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

table {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 8px 8px 10px #628ca6;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

thead {
    background-color: #7fb9c2;
    font-size: 20px;
}

tbody {
    background-color: #e7f0ed;
}

tfoot {
    background-color: #7fb9c2;
    font-size: 12px;
}

.rowone {
    background-color: #628ca6;
    color: white;
}

.novthree {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(3) {
    background-color: #e7ffed;
  }
  
  tr:nth-child(5) {
    background-color: #e7ffed;
  }
  
  tr:nth-child(7) {
    background-color: #e7ffed;
  }

  th, td {
    padding: 5px;
  }

