@media only screen and (min-width: 60em) {

    nav {
        background: var(--primary-color);
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 );    
    }
        
    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
   }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
    }

    br.responsive {
        display: none;
    }

    .heading {
        font-size: 100%;
    }

    header img {
        width: 100%;
    }
    h2 {
        font-size: 20px;
    }

    .container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
      }
}