@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Sansita+Swashed:wght@300&display=swap');
:root {
    --primary-color: #03045E;
    --secondary-color: #00507A;
    --accent1-color: white;
    --background-color: #BCF8EC;

    --heading-font: 'Sansita Swashed', cursive;
    --paragraph-font: 'PT Sans', sans-serif;
}

html{
    background-color: var(--background-color);
}

body {
    margin: 0 auto;
    background-color: var(--accent1-color);
    max-width: 80%;
}

main {
    padding: 1em;
    border-radius: 10px;
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header h1 {
    color:var(--accent1-color);
    font-size: 50px;
}

header h2 {
    color: var(--accent1-color);
}

header, footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1em;
    border-radius: 10px;
}

footer {
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
}

footer a:link, footer a:visited {
    color: white;
}

nav {
    font-family: var(--heading-font);
    color: var(--background-color);
    font-weight: bold;
    font-size: 20px;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    background: var(--secondary-color);
    padding: 2em;
    border-radius: 10px;
}
nav a:link, nav a:visited {
    color: var(--background-color);
    text-decoration: none;
}
nav a:hover {
    color: var(--primary-color);
}
.vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: var(--primary-color); /* Add a green color to the "active/current" link */
    color: white;
  }
  
  .content {
    font-family: var(--paragraph-font);
    border: 1px dashed var(--primary-color);
    padding: .6rem;
    margin: 1.6rem;
    background-color: var(--lightback-color);
  }

  br.responsive{
    display: inline;
}

.moto {
    font-style: italic;
    letter-spacing: 1pt;
    color: var(--secondary-color);
    margin-left: 20px;
    font-size: 1em;
    font-family: var(--paragraph-font);
}

nav ul.hide {display: none;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}