@media only screen and (min-width: 46em) {
    
    nav {
        background: var(--primary-color);
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 );
        
    }
        
    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
    }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
    }

    br.responsive {
        display: none;
    }

    header img {
        width: 100%;
    }
    h2 {
        font-size: 25px;
        text-decoration: underline;
    }

    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }


    .moto {
        font-size: 1em;
    }

    .heading {
        font-size: .8em;
    }


    .towninfo section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
    section:nth-child(odd) img {
      grid-column: 2;
      grid-row-start: 2;
      grid-row-end: 5;
      justify-self: center;
      border: 3px solid white;
    }

    section:nth-child(even) img {
      grid-column: 1;
      grid-row-start: 2;
      grid-row-end: 5;
      justify-self: center;
      border: 3px solid white;
    }
    
    section:nth-child(odd) p {
      grid-column: 1;
      padding-bottom: 20px;
    }

    section:nth-child(odd) h2 {
      grid-column:1;
    }

    section:nth-child(even) p {
      grid-column: 2;
    }

    section:nth-child(even) h2 {
      grid-column: 2;
    }

  
  }

