/*@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Sansita+Swashed:wght@300&display=swap');*/
:root {
    --primary-color: #03045E;
    --secondary-color: #00507A;
    --accent1-color: white;
    --background-color: #BCF8EC;

    --heading-font: 'Sansita Swashed', cursive;
    --paragraph-font: 'PT Sans', sans-serif;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html{
    background-color: var(--background-color);
}

body {
    margin: 0 auto;
    background-color: var(--accent1-color);
    border-radius: 30px;
}

main {
    padding: 1em;
    background-color: var(--accent1-color);
    max-width: 960px;
    margin: 0 auto;
    
}

