@media only screen and (min-width: 46em) {
    
    nav {
        background: var(--primary-color);
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 );
        
    }
        
    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
    }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
    }

    br.responsive {
        display: none;
    }

    header img {
        width: 100%;
    }
    h2 {
        font-size: 15px;
    }

    .moto {
        font-size: 1em;
    }

    .heading {
        font-size: .8em;
    }

    .forecast {
        margin: 10px auto;
        position: relative;
        border: 3px dashed var(--primary-color);
        width: 600px;
        height: 220px;
        background-color: lightgrey;
  }
  
  .forecast h3 {
      text-align: center;
    }
  
  td {
      font-family: var(--paragraph-font);
      color: var(--primary-color);
      background-color: white;
      }
  
      
  th, td {
  border: .5px solid var(--primary-color);
  }
  
  table {
  border-collapse: separate;
  border-spacing: 41px 13px;
  }
}
